            <!-- Start: Enter and Show Task -->
            <div class="col col-12 col-sm-12 col-md-12 col-lg-4">
                <section class="py-1 py-sm-1 py-md-2 py-lg-3 py-xl-4">
                    <div class="container-fluid">
                        <!-- Start: Add Task Heading -->
                        <div class="d-sm-flex justify-content-sm-center align-items-sm-center p-1 p-sm-1 p-md-2 p-lg-3 p-xl-4" style="background: #787d82;max-height: 34px;text-align: center;color: #ffffff;">
                            <h3 style="margin-bottom: 0px;">Add</h3>
                        </div><!-- End: Add Task Heading -->
                        <!-- Start: Add Task Form and Button Section -->
                        <div class="d-sm-flex justify-content-sm-center align-items-sm-center p-1 p-sm-1 p-md-2 p-lg-3 p-xl-4" style="background: var(--bs-gray-100);">
                            <!-- Start: Form -->
                            <form class="d-flex d-sm-flex justify-content-center justify-content-sm-center m-auto" method="POST" action="{% url 'getandsaveformdata' %}" style="width: 100%;">
                                {% csrf_token %}
                                <!-- Start: Form Input -->
                                <div class="col-10 my-1"><input class="form-control" type="text" placeholder="Enter Task" id="addtask" name="addtask" maxlength="27"></div><!-- End: Form Input -->
                                <!-- Start: Form Button -->
                                <div class="text-end text-sm-end text-md-end text-lg-end text-xl-end text-xxl-end my-1 col-auto"><button class="btn btn-primary ms-1" type="submit" style="background: #92989f;">Add</button></div><!-- End: Form Button -->
                            </form><!-- End: Form -->
                        </div><!-- End: Add Task Form and Button Section -->
                        <!-- Start: DIV list task and no-data -->
                        <div class="d-sm-flex justify-content-sm-center align-items-sm-center p-1 p-sm-1 p-md-2 p-lg-3 p-xl-4" style="background: var(--bs-gray-100);">
                            <!-- Start: Column list task and no-data -->
                            <div class="col">
                                <!-- Start: Table list task -->
                                <div>
                                    <table class="table">
                                        <tbody>
                                            <!-- Start: Table-Row list task -->
                                            {% for task in tasktable_fetch_data %}
                                            <tr>
                                                <!-- Start: Table-Cell list task -->
                                                <td class="d-flex justify-content-between align-items-center">
                                                    <span class="flex-grow-1" style="font-family: Roboto, sans-serif;">{{task.task_column}}</span>
                                                    <span class="ms-auto">
                                                        <a class="mx-1" href="{% url 'taskedit' task.id %}" title="edit"><i class="fas fa-edit"></i></a>
                                                        <a class="mx-1" href="{% url 'taskcomplete' task.id %}" title="done"><i class="fas fa-check-circle"></i></a>
                                                        <a class="mx-1" href="{% url 'deletetask' task.id %}" title="delete"><i class="fas fa-trash-alt"></i></a>
                                                    </span>
                                                </td>
                                                <!-- End: Table-Cell list task -->
                                            </tr>
                                            {% endfor %}
                                            <!-- End: Table-Row list task -->
                                        </tbody>
                                    </table>
                                </div><!-- End: Table list task -->
                                {% if not tasktable_fetch_data %}
                                <h6 class="text-center alert alert-warning" style="padding: 4px;background: var(--bs-border-color-translucent);color: var(--bs-red);border-color: var(--bs-border-color-translucent);">No Task Available</h6>
                                {% endif %}
                            </div><!-- End: Column list task and no-data -->
                        </div><!-- End: DIV list task and no-data -->
                    </div>
                </section>
            </div><!-- End: Enter and Show Task -->